# C extensions
*.so

# Distribution / packaging 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg-info/
.dist-info/
build/
dist/



# Scrapy stuff:
.scrapy



# --- Jupyter / VSCode / OS ---
.ipynb_checkpoints/
.notebook_cache/
notebooks/.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db



# Environments / Python / Virtual entornos
.env
.envrc
.venv
.venv/
.uv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataframes / datasets
# data/*.csv                    # COMENTA estas líneas
# data/processed/*.csv          # COMENTA estas líneas
!data/airline_passenger_satisfaction.csv
!data/processed/cleaned_airline_passenger_satisfaction.csv
!data/processed/X_t*.csv
!data/processed/y_t*.csv
!data/processed/model_comparison_data.csv




#models/*.pkl
*.joblib


# -------- Src --------
src/**/__pycache__/

# --- Logs / temporales ---
*.log
*.tmp
*.cache/

# --- Gráficos / imágenes ---
*.png
*.jpg
*.jpeg


